@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,700&display=swap');
img {
    width: 200px;
    height: 200px;
    margin: 50px 100px;
    border: 2px solid black;
    
}
body {
    height: 100%;
  margin: 0;
  background-color:white;
}
header{
    background-color: #c1a1d3;
}
main{
    background-color: #c1a1d3;
}
h1{
    display: inline;
    margin: 50px 50px;
    
}
h2{
    display: inline;
    margin: 30px 500px;
   
}

li{
    font-size: x-large;
    font-family:'Balsamiq Sans', cursive;
}
