@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,700&display=swap');
header img{
    position: absolute;
    display: inline-block;
    margin-left: 1000px;
    margin-top: 0;
    border-radius: 30px;
    border:10px solid black ;
}
img {
    width: 200px;
    height: 200px;
    margin: 50px 100px;
    border: 2px solid black;
    
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:white;
}
header{
    background-color: #c1a1d3;
}
main{
    background-color: #c1a1d3;
}
h1{
    display: inline-block;
    border: 5px solid black;
    margin: 50px 50px;
    
}
h2{
    display: inline-block;
    margin: 30px 500px;
   
}

li{
    font-size: x-large;
    font-family:'Balsamiq Sans', cursive;
}
